/* Config */
li { 
	list-style: none;
}

a {
	text-decoration: none;
	color: #0a0a0a;
}

ul {
	padding-left: 0;
}

p {
	margin: 3px 0;
}

/* Background */
body {
	background: url(images/bg.png);
	background-repeat: no-repeat; 
	-webkit-background-size: cover;
	        background-size: cover;
	background-color: #546962;

	/*height: 900px;*/
}
@media only screen and (max-width: 1024px) { 
	body { 
		background-image: url(images/bg-mobile-device.jpg);
		background-attachment: fixed;
	}
}
@media only screen and (min-width: 1024px) { 
	body { 
		background-attachment: fixed;
	}
}
@media only screen and (min-width: 1280px) { 
	body { 
		background-position: center center;
		background-attachment: fixed;
	}
}

/* Header */
.logotype {
	max-width: 100%;
	margin: 2% auto;
	display: block;
}
@media screen and (min-width: 1024px){
	.logotype {
		max-width: 25%;
	}
}
@media screen and (max-width: 1024px){
	.logotype {
		max-width: 50%;
	}
}

/* HOVER link */
a:hover {
	color: rgba(98, 42, 250, 1);
}

/* NAVIGATION */
.navigation {
	font-family: 'a_OldTyperTitulNr', arial, sans-serif;
	font-size: 28.44px;
	font-weight: bold;
	text-align: center;

	margin: 0 auto;
	display: block;
	vertical-align: middle;
}
.navigation > ul {
	padding-left: 0; 
}

.navigation li {
	display: inline-block;	
	margin: 20px 50px;
}

@media screen and (min-width: 930px) {
	.navigation {
		max-width: 930px;
	}
}
@media screen and (max-width: 414px) {
	.navigation li {	
		margin: 10px 25px;
	}
}

/* ADDrESS */
.address {
	font-family: 'europeextregular', arial, sans-serif;
	font-size: 14px;
	text-align: center;
}
.address li {
	margin: 10px;
}
.address a {
	text-decoration: underline;
}

/* Letter */
.letter {
	margin: 20px auto;
	display: block;
	max-width: 250px;

	text-align: center;
}
.letter input,
.letter textarea {
	border: 2px solid black;
	margin: 5px;
}
.letter input{
	width: 250px;
}
.letter textarea {
	width: 245px;
	height: 75px;
	resize: none;
}
.letter input[type="submit"] {
	width: 150px;
	height: 35px;
	background-color: rgba(54, 255, 131, 1);
	font-size: 14px;
	-webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
}
.letter input[type="submit"]:hover {
	background-color: rgba(0, 252, 97, 1);
}
.letter input[type="submit"]:active {
	background-color: rgba(0, 252, 97, 1);
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-transform: translate(2px,2px);
	    -ms-transform: translate(2px,2px);
	        transform: translate(2px,2px);
}

/* Footer */
.footer {
	font-family: 'europeextregular', arial, sans-serif;
	font-size: 14px;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;

	position: relative;
	right: 0;
	bottom: 0;
	left: 0;

	margin: 1% 0;
}
.footer a {
	color: rgba(98, 42, 250, 1);
}
.footer a:hover {
	color: rgba(0, 0, 0, 1);
}